body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
}
.box__style {
  border: 2px solid #ededed !important;
  padding: 1.5rem !important;
}
.contenedor__padre--active {
  flex-direction: column;
}
